aioredis
anyio
APScheduler
arabic-reshaper
asgiref
async-timeout
attrs
autobahn
Automat
boto3
botocore
cairocffi
CairoSVG
certifi
cffi
channels
channels-redis
chardet
configobj
constantly
coreapi
coreschema
cryptography
cssselect2
daphne
defusedxml
diff-match-patch
Django
django-allauth
django-apscheduler
django-cors-headers
django-countries
django-easy-pdf
django-extensions
django-import-export
django-nested-admin
django-rest-auth
django-rest-swagger
django-s3direct
djangorestframework
djangorestframework-jwt
drf-yasg
et-xmlfile
filter-and-pagination
future
h11
hiredis
html5lib
httpcore
httpx
hyperlink
idna
incremental
inflection
itypes
jdcal
Jinja2
jmespath
MarkupPy
MarkupSafe
msgpack
numpy
oauthlib
odfpy
onesignal-sdk
openapi-codec
openpyxl
packaging
Pillow
psycopg2
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pyparsing
PyPDF2
pyphen
python-bidi
python-dateutil
python-monkey-business
python3-openid
pytz
PyYAML
reportlab
requests
requests-oauthlib
rest-social-auth
rfc3986
ruamel.std.argparse
ruamel.yaml
ruamel.yaml.clib
ruamel.yaml.cmd
ruamel.yaml.convert
s3transfer
sentry-sdk
service-identity
simplejson
six
sniffio
social-auth-app-django
social-auth-core
sqlparse
stripe
tablib
tinycss2
Twisted
txaio
tzlocal
uritemplate
urllib3
WeasyPrint
webencodings
Werkzeug
whitenoise
xhtml2pdf
xlrd
xlwt
xmltodict
zope.interface