{% block content %}
<div class="row">
  <aside class="col-sm-4">
  </aside> <!-- col.// -->
  <aside class="col-sm-4">
    <h2>Change Password</h2>
    <div class="card">
      {% if success %}
        <div>reset password: {{new_password}}</div>
        <article class="card-body">
          <form method="post">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
            <div style="color:red">{{ form.non_field_errors.as_text  }}</div>            
            {% for field in form.visible_fields %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% for error in field.errors %}
                  <p style="color: red">{{ error.as_text }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            
            <button type="submit">Submit</button>
          </form>
        </article>
      {% else %}
        <article class="card-body">
          <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
          </p>
        </article>
      {% endif %}
    </div>
  </aside>
  <aside class="col-sm-4">
  </aside> <!-- col.// -->
</div>
{% endblock %}